/* :root{
  --red:#e50614;
  --black:#141414;
  --blue-black: rgb(5, 0, 34)


  font-family: 'Roboto', sans-serif;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base elements */

body {
  background: black;
  font-family: 'Roboto', sans-serif;
  color: #aaa;
}

header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo{
  margin-left: 20px;
  margin-bottom: 5px;
}

header nav {
  margin-right: 10px;
}

header nav a{
  text-decoration: none;
  color: #aaa;
  margin-right: 10px;
}

header nav a:hover{
  color: #fff;
}

/* main movies */

.main-movie{
  background:linear-gradient(rgba(0, 0, 0, .50), rgba(0, 0, 0, .50)100%), url('../img/capa-house.jpg');
  
  height: 420px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  font-size: 20px;

  

}



.main-movie .container{
  margin-left: 20px;
  width: 60%;
}

.main-movie .title {
  margin-top: 15%;
  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 75px;
  font-weight: 900;
}

.main-movie .description{
  margin-top: 10px;
  margin-bottom: 40px;
}

.buttons i{
  margin-right: 5px;
  
}

.button {
  background-color: rgba(0, 0, 0,.50);
  border: none;
  color: white;
  border-radius: 2px;

  padding: 15px 30px;
  margin-right: 15px;
  margin-bottom: 10px;

  cursor: pointer;
  transition: .3s ease all;
}

.button:hover{
  background-color: rgba(0, 0, 0,.75);
}

.box-movie{
  height: 60%;
  width: 60%;
  display: block;
}

/* carousel */

.movies-carousel{
  margin-top: 10px;
}

.movies-carousel p {
  margin: 30px 0 10px 4px;

  font-size: 20px;
}